html{
    height: 100%;
}
html, body {
    box-sizing: border-box;
}
body {
display: flex;
flex-direction: column;
font-family: 'Raleway', sans-serif;
font-size: 18px;
height: 100%;
width: 100%;
margin: 0;
border: 0;
/* outline: 1px solid red; */
overflow: hidden;
}
.profilecontainer {
    display: flex;
    flex-direction: column;
    background-color: #b7d7e8;
    justify-content: space-around;
    text-align: center;
    border: groove gold 5px;
    border-radius: 10px;
}
.profilecontainer > * {
    padding: 5px 0;
}

textarea {
    resize: none;
    /* height: 20px; */
}

.displaycontainer {
    flex: 1;
    background-color: #cfe0e8;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
}

/* .displayInfo {
    text-align: center;
    position: fixed; */
#profileInfo {
    display: flex;
    justify-content: space-evenly;
}

/* .displayInfo {
    text-align: center;
    position: sticky;
    border: groove silver 5px;
    border-radius: 10px;
} */

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #00B0B9; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    
}
/* .achievmentFooter{
    
    
    border: 1px solid red ;
    
} */
.achievments{
    text-align: center;
}
.achievmentImages {
    display: flex;
    justify-content: space-around;
}
.achievmentImages img{
    padding: 0 5px 0 5px;
    
    height: 30px;
}
.currentAchievment{
    background-color: #00B0B9;
}
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */
.optionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#moreOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rangeContainer{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

#dateDropDown {
    border-radius: 10px;
    font-size: 1rem;
}

.dropdown {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.dropdown select{
    border: none;
    font-family: 'Raleway', sans-serif;
    background-color: #B6B8D6;
    text-align: center;
    padding: 5% 30%;
    border-radius: 10px;
}

#submitButton{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Raleway', sans-serif;
    background-color: #b7d7e8;
    border-radius: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

option {
    text-align: center;
}

#foodResult {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 10px;
    overflow-y: scroll;
    border: groove greenyellow 5px;
    border-radius: 10px;
    /* flex: 1; */
    margin: 0;
    height: 100%;
}

.foodDataDiv {
    display: flex;
    min-height: 40px;
}

.foodDate {
    border: dashed plum 1px;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    /* white-space: nowrap; */
}

.foodImageDiv {
    display: flex;
    flex-direction: row;
    border: dashed plum 1px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.foodImage {
    display: block;
}

#dateDropDown {

    background-color: #B6B8D6;
    width: 50%;
}

#wrapper {
    background: white;
    width: 90%;
    margin: 40px auto;
    padding: 15px;
    border-radius: 5px;
}
h1, h2 {
    color:black;
    font-weight: normal;
    font-size: 16px;
}
#output {
    width: 50px;
    display: inline-block;
    /* margin: 0 15px 0 0; */
    padding: 6px 8px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    font-size: 15px;
}
#range-slider {
    width: 150px;
}
#range-slider::-moz-range-thumb {
    padding: 3px;
}
#range-slider:active::-moz-range-thumb {
    background: orange;               
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency for mouse-over effects on hover */
}
#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
