html body {
display: flex;
flex-direction: row;
font-family: 'Raleway', sans-serif;
font-size: 18px;
height: 100%;
width: 100%;

}
.profilecontainer {
    display: flex;
    flex-direction: column;
   /* outline: 3px dotted black; */
   /* font-family: 'Londrina Solid', cursive; */
   /* font-size: 20px; */
   background-color: #66b9bf;
   width: 100%;

}
.displaycontainer {
    width: 100%;
    background-color: #eeaa7b;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #00B0B9; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */

}

.achievments {
    display: flex;
}

.achievmentImages img{
    height: 30px;
}

.currentAchievment{
background-color: #00B0B9;
}

/* @import url(https://fonts.googleapis.com/css?family=Raleway); */



#wrapper {
    background: white;
    width: 90%;
    min-height: 300px;
    margin: 40px auto;
    padding: 15px;
    border-radius: 5px;
}
h1, h2 {
    color:black;
    font-weight: normal;
    font-size: 16px;
}
#output {
    width: 30px;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 6px 8px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    font-size: 15px;
}
#range-slider {
    width: 200px;
}
#range-slider::-moz-range-thumb {
    padding: 3px;
}
#range-slider:active::-moz-range-thumb {
    background: orange;               
}
  

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency for mouse-over effects on hover */

}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
