
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

.main {
    flex:1;
}



p {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 18px;


}


#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* puts cavas in the actual background */
    z-index: -9999;
    
}


.header {
    font-family: 'Rock Salt', cursive;
    color:black;
    font-size: 50px;
}




.foot {

    background-color: rgba(0,0,0,0.7);
    padding:8px 12px;
    display: flex;
    justify-content: flex-end;
    
    
    
}

.pf {
    
    margin-right: 75%;
}

.foot p {
    color:white;
    text-align: left;
    

}
.foot .fab,
.foot .fas {

    color:white;
    margin: 0 8px;
    font-size: 36px;
    /* transition: transform .25s ease-in-out; */

}
/* .contact-links a:hover {
    cursor: pointer;
} */

.foot a:hover .fab,
.foot a:hover .fas, 
.foot a:active .fab
.foot a:active .fas {

    color:orange;
    /* font-size: 48px; */
    /* transform: scale(2.2); */
    animation: zoom;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}


.click-container {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', cursive;

}
.click-link{
    background-color: crimson;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    font-size: 30px;
    
}

.click-link:focus,
.click-link:hover {
  background-color: FireBrick;
  color: white;
}






